h1{
	background-color: #A4C6FF;
	text-align: center;
	font-size: 10px;
	border:solid 1px #444444;
}
li:{
	background-color: #FFCCCC;
    float:left;
    width:160px;
	list-style: none;
	border:solid 1px #444444
	margin:20px;

}
.main{
	display:flex;
    justify-content: space-between;
    width:200px;
    height:200px;
    border:solid 1px #444444;

}